[1378. Replace Employee ID With The Unique Identifier](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/?envType=study-plan-v2&envId=top-sql-50)

In [1]:
import findspark
findspark.init()

import datetime

In [2]:
from pyspark.sql.session import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local").appName("playground").getOrCreate()

In [4]:
emp_schema = T.StructType(
    [
        T.StructField("id", T.IntegerType(), False),
        T.StructField("name", T.StringType(), False)
    ]
)

emp_uni_schema = T.StructType(
    [
        T.StructField("id", T.IntegerType(), False),
        T.StructField("unique_id", T.IntegerType(), False)
    ]
)

emp_data = [
    (1, "Alice"),
    (7, "Bob"),
    (11, "Meir"),
    (90, "Winston"),
    (3, "Jonathan")
]

emp_uni_data = [
    (3, 1),
    (11, 2),
    (90, 3)
]

emp = spark.createDataFrame(emp_data, emp_schema)
emp.show()

emp_uni = spark.createDataFrame(emp_uni_data, emp_uni_schema)
emp_uni.show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

In [7]:
(emp
 .join(emp_uni, ["id"], "left")
 .select("unique_id", "name")
 .show())

+---------+--------+
|unique_id|    name|
+---------+--------+
|     null|   Alice|
|        1|Jonathan|
|     null|     Bob|
|        3| Winston|
|        2|    Meir|
+---------+--------+