[1068. Product Sales Analysis I](https://leetcode.com/problems/product-sales-analysis-i/?envType=study-plan-v2&envId=top-sql-50)

In [2]:
import findspark
findspark.init()

import datetime

In [3]:
from pyspark.sql.session import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql.window import Window

spark = SparkSession.builder.master("local").appName("playground").getOrCreate()

In [4]:
sales_schema = T.StructType(
    [
        T.StructField("sale_id", T.IntegerType(), False),
        T.StructField("product_id", T.IntegerType(), False),
        T.StructField("year", T.IntegerType(), False),
        T.StructField("quantity", T.IntegerType(), False),
        T.StructField("price", T.IntegerType(), False)
    ]
)

product_schema = T.StructType(
    [
        T.StructField("product_id", T.IntegerType(), False),
        T.StructField("product_name", T.StringType(), False)
    ]
)

sales_data = [
    (1, 100, 2008, 10, 5000),
    (2, 100, 2009, 12, 5000),
    (7, 200, 2011, 15, 9000)
]

product_data = [
    (100, "Nokia"),
    (200, "Apple"),
    (300, "Samsung")
]

sales = spark.createDataFrame(sales_data, sales_schema)
sales.show()

product = spark.createDataFrame(product_data, product_schema)
product.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [5]:
(sales
 .join(product, ["product_id"], "left")
 .select("product_name", "year", "price")
 .show())

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+